<component name="ArtifactManager">
  <artifact type="war" name="spring-cloud-resource:war">
    <output-path>$PROJECT_DIR$/spring-cloud-resource/target</output-path>
    <root id="archive" name="spring.cloud.resource-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="spring-cloud-resource:war exploded" />
    </root>
  </artifact>
</component>